/*

Background Colors
	- #1c1b1a  (basic)
	- #2d2b29  (one shade lighter)
	
	- #3c2d1c  (primary highlight)

Text Colors
	- #a28b72  (basic)
	- #c3823e  (primary highlight)
	- #cea757  (secondary highlight)

*/
.dark-mode {
	color: #a28b72;
	background-color: #1c1b1a;
}
.dark-mode a {
	color: #c3823e;
}
.dark-mode a:hover, .dark-mode a:active, .dark-mode a:focus {
	color: #cea757;
}
.dark-mode div#main-logo-outline {
	color: #1c1b1a;
}
.dark-mode div#body-wrap {
	background:
		url("/assets/orn/background-frame-top-dark.png")    center top    / 100% auto no-repeat ,
		url("/assets/orn/background-frame-bottom-dark.png") center bottom / 100% auto no-repeat;
}
.dark-mode .menu-mobile>a {
	border-bottom: 2px solid #2d2b29;
}
.dark-mode .menu ul>li>a {
	background-color: #2d2b29;
}
.dark-mode .menu ul>li>a:hover, .dark-mode .menu ul>li>a:active, .dark-mode .menu ul>li>a:focus {
	background-color: #3c2d1c;
}
.dark-mode .menu ul>li.active>a, .dark-mode .menu-icon {
	background: none;
	border: 2px solid #a28b72;
}
.dark-mode .menu ul>li.active>a:hover,      .dark-mode .menu ul>li.active>a:active,      .dark-mode .menu ul>li.active>a:focus,
.dark-mode .menu-mobile>a:hover>.menu-icon, .dark-mode .menu-mobile>a:active>.menu-icon, .dark-mode .menu-mobile>a:focus>.menu-icon {
	background: none;
	border: 2px solid #c3823e;
}
.dark-mode .menu-icon>span {
	background-color: #a28b72;
}
.dark-mode .menu-mobile>a:hover>.menu-icon>span, .dark-mode .menu-mobile>a:active>.menu-icon>span, .dark-mode .menu-mobile>a:focus>.menu-icon>span {
	background-color: #c3823e;
}
.dark-mode .menu-mobile-content>ul {
	background-color: #1c1b1a;
	border-left: 2px solid #2d2b29;
	border-right: 2px solid #2d2b29;
	border-bottom: 2px solid #2d2b29;
}
.dark-mode div.copy-main {
	background: url("/assets/orn/background-fill-dark.png") center center / auto 100% no-repeat;
}
.dark-mode div.copy-main-wide {
	background: url("/assets/orn/background-fill-dark.png") center center / 100% auto no-repeat;
}
.dark-mode .panel {
	background-color: #2d2b29;
}
.dark-mode #progress_tracker progress {
	border: 2px solid #a28b72;
}
/*
	WARNING: UNDOCUMENTED WEBKIT REQUIREMENTS!
	
	As of 2022/08/16, Webkit browsers do NOT recognize these CSS rules if either of the following supposedly correct CSS notations are used:
		1. Using the element name 'progress' in the rule selector.
		2. Combining multiple selectors into one rule with a comma-separated list.
	As long as we write them separately and use a hanging pseudo-class, it will work. Documentation online is WRONG.
*/
.dark-mode #progress_tracker ::-webkit-progress-value {
	background-color: #a28b72 !important;
}
.dark-mode #progress_tracker ::-moz-progress-bar {
	background-color: #a28b72 !important;
}
.dark-mode a.large-link, .dark-mode ul.copy-social a, .dark-mode .menu a {
	color: #a28b72;
}
.dark-mode a.large-link:hover,     .dark-mode a.large-link:active,     .dark-mode a.large-link:focus,
.dark-mode ul.copy-social a:hover, .dark-mode ul.copy-social a:active, .dark-mode ul.copy-social a:focus,
.dark-mode .menu a:hover,          .dark-mode .menu a:active,          .dark-mode .menu a:focus {
	color: #c3823e;
}
.dark-mode div#microblog li.microblog-post {
	border-bottom: 1px solid rgba(162,139,114,0.5);
}
.dark-mode div#microblog li.microblog-pinned {
	border-bottom: 2px solid rgba(162,139,114,0.5);
}
.dark-mode .ratings td, .dark-mode .ratings th {
	border-color: #a28b72;
}
