@media screen {
	.dark-mode a.new, .dark-mode a.new:visited {
		color: #e61919;
	}
	.dark-mode a.new:hover, .dark-mode a.new:active, .dark-mode a.new:focus {
		color: #ff4343;
	}
}

.menu-desktop ul.menu-user {
	font-size: inherit;
	font-size: 14pt;
	line-height: 16pt;
	margin-top: 18px;
	align-items: baseline;
}
.menu-desktop ul.menu-user>li {
	margin: 0 1px 0 0;
}
.menu-desktop ul.menu-user a {
	padding: 6px 12px 4px 12px;
	border-radius: 0;
	white-space: nowrap;
}
.menu-desktop ul.menu-user>li:first-child>a {
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
}
.menu-desktop ul.menu-user>li:last-child>a {
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
}
.menu-mobile-content > ul {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.menu-mobile-content > ul:last-child, .nologin .menu-mobile-content > ul {
	border-bottom-left-radius: 41px;
	border-bottom-right-radius: 41px;
}
.nologin ul.menu-user {
	display: none;
}

.wiki-nav {
	display: grid;
	gap: 12px;
	grid-template-columns: min-content auto min-content;
	align-items: end;
}
.dark-mode .wiki-nav {
	border-bottom: 2px solid #2d2b29;
}
.light-mode .wiki-nav {
	border-bottom: 2px solid #dfcfba;
}
.wiki-nav .tab-views {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}
.wiki-nav .tab-actions {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
.wiki-nav #p-search {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
@media only screen and (max-width: 845px) {
	.wiki-nav .tab-views {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
	}
	.wiki-nav .tab-actions {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.wiki-nav #p-search {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
	}
}
.wiki-nav ul.page-tabs {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	white-space: nowrap;
	padding: 0;
	margin: 0;
}
.wiki-nav ul.page-tabs>li {
	margin-left: 6px;
}
.wiki-nav ul.page-tabs.tab-actions>li {
	margin-left: 1px;
}
.wiki-nav ul.page-tabs>li:first-child {
	margin-left: 0;
}
.wiki-nav ul.page-tabs>li>a {
	padding: 6px 12px 8px 12px;
}
.dark-mode .wiki-nav ul.page-tabs>li>a {
	background-color: #2d2b29;
	color: #a28b72;
}
.wiki-nav ul.page-tabs.tab-views>li>a {
	display: block;
	position: relative;
	bottom: -2px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;

}
.wiki-nav ul.page-tabs.tab-actions>li>a {
	display: block;
	border-radius: 0;
	margin-bottom: 5px;
	padding-bottom: 4px;
}
.wiki-nav ul.page-tabs.tab-actions>li:first-child>a {
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
}
.wiki-nav ul.page-tabs.tab-actions>li:last-child>a {
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
}
.nologin ul.tab-actions {
	display: none;
}
.dark-mode .wiki-nav ul.page-tabs>li>a:hover, .dark-mode .wiki-nav ul.page-tabs>li>a:active, .dark-mode .wiki-nav ul.page-tabs>li>a:focus {
	background-color: #3c2d1c;
	color: #c3823e;
}
.dark-mode .wiki-nav ul.page-tabs.tab-views>li.selected>a {
	background-color: #1c1b1a;
	color: #a28b72;
	border-left: 2px solid #a28b72;
	border-top: 2px solid #a28b72;
	border-right: 2px solid #a28b72;
}
.dark-mode .wiki-nav ul.page-tabs.tab-views>li.selected>a:hover, .dark-mode .wiki-nav ul.page-tabs>li.selected>a:active, .dark-mode .wiki-nav ul.page-tabs>li.selected>a:focus {
	color: #c3823e;
	border-left: 2px solid #c3823e;
	border-top: 2px solid #c3823e;
	border-right: 2px solid #c3823e;
}
.light-mode .wiki-nav ul.page-tabs>li>a {
	background-color: #dfcfba;
	color: #8f683f;
}
.light-mode .wiki-nav ul.page-tabs>li>a:hover, .light-mode .wiki-nav ul.page-tabs>li>a:active, .light-mode .wiki-nav ul.page-tabs>li>a:focus {
	background-color: #e3c8ac;
	color: #c3823e;
}
.light-mode .wiki-nav ul.page-tabs>li.selected>a {
	background-color: #f0e8d1;
	color: #8f683f;
	border-left: 2px solid #8f683f;
	border-top: 2px solid #8f683f;
	border-right: 2px solid #8f683f;
}
.light-mode .wiki-nav ul.page-tabs>li.selected>a:hover, .light-mode .wiki-nav ul.page-tabs>li.selected>a:active, .light-mode .wiki-nav ul.page-tabs>li.selected>a:focus {
	color: #c3823e;
	border-left: 2px solid #c3823e;
	border-top: 2px solid #c3823e;
	border-right: 2px solid #c3823e;
}

.wiki-search {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 6px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}
.dark-mode .wiki-search {
	background-color: #2d2b29;
}
.light-mode .wiki-search {
	background-color: #dfcfba;
}
@media only screen and (max-width: 600px) {
	.wiki-search {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}
}
.wiki-search #searchInput {
	appearance: none;
	display: block;
	margin-right: 6px;
	border-radius: 18px;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	border: none;
	padding: 0 12px;
	width: 20vw;
}
.wiki-search #searchInput:focus-visible {
	outline: none;
}
.dark-mode .wiki-search #searchInput {
	background-color: #1c1b1a;
}
/*.dark-mode .wiki-search #searchInput:focus-visible {
	border: 2px solid #c3823e;
}*/
.light-mode .wiki-search #searchInput {
	background-color: #f0e8d1;
}
/*.light-mode .wiki-search #searchInput:focus-visible {
	border: 2px solid #c3823e;
}*/
.wiki-search #searchButton {
	appearance: none;
	display: block;
	border-radius: 18px;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 0 12px;
}
.wiki-search #searchButton {
	outline: none;
}
.dark-mode .wiki-search #searchButton {
	border: 2px solid #a28b72;
}
.dark-mode .wiki-search #searchButton:hover, .dark-mode .wiki-search #searchButton:active, .dark-mode .wiki-search #searchButton:focus {
	border: 2px solid #c3823e;
	color: #c3823e;
}
.light-mode .wiki-search #searchButton {
	border: 2px solid #8f683f;
}
.light-mode .wiki-search #searchButton:hover, .light-mode .wiki-search #searchButton:active, .light-mode .wiki-search #searchButton:focus {
	border: 2px solid #c3823e;
	color: #c3823e;
}
ol.references li:target, sup.reference:target {
	border-radius: 4px;
}
.dark-mode ol.references li:target, .dark-mode sup.reference:target {
	background-color: #2d2b29;
}
.light-mode ol.references li:target, .light-mode sup.reference:target {
	background-color: #dfcfba;
}
#pagehistory li.selected {
	color: inherit;
	outline: none;
	border-radius: 4px;
}
.dark-mode #pagehistory li.selected {
	background-color: #2d2b29;
}
.light-mode #pagehistory li.selected {
	background-color: #dfcfba;
}

div.suggestions {
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	margin-top: 6px;
	padding: 3px;
	box-sizing: border-box;
}
.dark-mode div.suggestions {
	background-color: #1c1b1a;
	color: #a28b72;
	border: 2px solid #2d2b29;
}
.light-mode div.suggestions {
	background-color: #f0e8d1;
	color: #8f683f;
	border: 2px solid #dfcfba;
}
div.suggestions-results {
	border: none;
}
.dark-mode .suggestions-results {
	background-color: #1c1b1a;
	color: #a28b72;
}
.light-mode .suggestions-results {
	background-color: #f0e8d1;
	color: #8f683f;
}
div.suggestions-result, div.oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget {
	border: none;
	padding: 3px;
	margin: 0 0 3px 0;
	border-radius: 6px;
}
div.suggestion-result:last-child, div.oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget:last-child {
	margin-bottom: 0;
}
div.oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget:last-child a {
	color: inherit;
}
.dark-mode .suggestions-result, .dark-mode .oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget {
	background-color: #2d2b29;
	color: #a28b72;
}
.light-mode .suggestions-result, .light-mode .oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget {
	background-color: #dfcfba;
	color: #8f683f;
}
div.suggestions-special {
	border: none;
	margin: 0;
	padding: 3px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.dark-mode .suggestions-special {
	background-color: #2d2b29;
	color: #a28b72;
}
.light-mode .suggestions-special {
	background-color: #dfcfba;
	color: #8f683f;
}
.dark-mode .suggestions-result-current,
.dark-mode .oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget:hover,
.dark-mode .oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget:active,
.dark-mode .oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget:focus {
	background-color: #3c2d1c;
	color: #c3823e;
}
.light-mode .suggestions-result-current,
.light-mode .oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget:hover,
.light-mode .oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget:active,
.light-mode .oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget:focus {
	background-color: #e3c8ac;
	color: #c3823e;
}
.dark-mode div.suggestions-special div.special-query, .dark-mode div.suggestions-special div.special-label {
	color: #a28b72;
}
.dark-mode div.suggestions-result-current div.special-label, .dark-mode div.suggestions-result-current div.special-query {
	background-color: none;
	color: #c3823e;
}
.light-mode div.suggestions-special div.special-query, .light-mode div.suggestions-special div.special-label {
	color: #8f683f;
}
.light-mode div.suggestions-result-current div.special-label, .light-mode div.suggestions-result-current div.special-query {
	background-color: none;
	color: #c3823e;
}

.mw-search-profile-tabs {
	border: none;
	border-radius: 8px;
	padding: 8px;
}
.dark-mode .mw-search-profile-tabs {
	background-color: #2d2b29;
	color: #a28b72;
}
.light-mode .mw-search-profile-tabs {
	background-color: #dfcfba;
	color: #8f683f;
}
.search-types ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.search-types .current a {
	border-radius: 8px;
	padding: 6px;
	cursor: pointer;
}
.dark-mode .search-types .current a {
	border: 2px solid #c3823e;
	color: #c3823e;
}
.dark-mode .search-types .current a:hover, .dark-mode .search-types .current a:active, .dark-mode .search-types .current a:focus {
	border: 2px solid #cea757;
	color: #cea757;
}
.light-mode .search-types .current a {
	border: 2px solid #c3823e;
	color: #c3823e;
}
.light-mode .search-types .current a:hover, .light-mode .search-types .current a:active, .light-mode .search-types .current a:focus {
	border: 2px solid #cea757;
	color: #cea757;
}
.oo-ui-fieldLayout.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-field {
	padding: 6px;
	border-radius: 25px;
	display: grid;
	grid-template-columns: auto min-content;
}
.dark-mode .oo-ui-fieldLayout.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-field {
	background-color: #1c1b1a;
	color: #a28b72;
	border: 2px solid #a28b72;
}
.light-mode .oo-ui-fieldLayout.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-field {
	background-color: #f0e8d1;
	color: #8f683f;
	border: 2px solid #8f683f;
}
.oo-ui-actionFieldLayout-input {
	display: block;
	grid-column-start: 1;
	grid-column-end: 2;
}
.oo-ui-actionFieldLayout-button {
	display: block;
	grid-column-start: 2;
	grid-column-end: 3;
	width: initial;
}
.oo-ui-textInputWidget input {
	height: initial;
}
.oo-ui-textInputWidget .oo-ui-inputWidget-input {
	background: none;
	border: none;
}
.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input:focus {
	outline: none;
	border: none;
	box-shadow: none;
}
.dark-mode .oo-ui-textInputWidget .oo-ui-inputWidget-input {
	color: #a28b72;
}
.light-mode .oo-ui-textInputWidget .oo-ui-inputWidget-input {
	color: #8f683f;
}
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
	border: none;
	border-radius: 19px;
}
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:focus-visible,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:focus {
	outline: none;
	border: none;
	box-shadow: none;
}
.dark-mode .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
	background-color: #2d2b29;
	color: #a28b72;
}
.dark-mode .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover,
.dark-mode .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:active,
.dark-mode .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:focus {
	background-color: #3c2d1c;
	color: #c3823e;
	border: none;
}
.light-mode .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
	background-color: #dfcfba;
	color: #8f683f;
}
.light-mode .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover,
.light-mode .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:active,
.light-mode .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:focus {
	background-color: #e3c8ac;
	color: #c3823e;
	border: none;
}
.dark-mode .oo-ui-indicator-clear {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%20%3Ctitle%3E%20clear%20%3C%2Ftitle%3E%20%3Cpath%20d%3D%22M10%200a10%2010%200%201%200%2010%2010A10%2010%200%200%200%2010%200zm5.66%2014.24-1.41%201.41L10%2011.41l-4.24%204.25-1.42-1.42L8.59%2010%204.34%205.76l1.42-1.42L10%208.59l4.24-4.24%201.41%201.41L11.41%2010z%22%20fill%3D%22%23a28b72%22%2F%3E%20%3C%2Fsvg%3E");
}
.light-mode .oo-ui-indicator-clear {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%20%3Ctitle%3E%20clear%20%3C%2Ftitle%3E%20%3Cpath%20d%3D%22M10%200a10%2010%200%201%200%2010%2010A10%2010%200%200%200%2010%200zm5.66%2014.24-1.41%201.41L10%2011.41l-4.24%204.25-1.42-1.42L8.59%2010%204.34%205.76l1.42-1.42L10%208.59l4.24-4.24%201.41%201.41L11.41%2010z%22%20fill%3D%22%238f683f%22%2F%3E%20%3C%2Fsvg%3E");
}
.oo-ui-textInputWidget.oo-ui-widget-enabled > .oo-ui-iconElement-icon {
	opacity: 1;
}
.dark-mode .oo-ui-icon-search, .dark-mode .mw-ui-icon-search::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E %3Ctitle%3E search %3C/title%3E %3Cpath d=%22M12.2 13.6a7 7 0 1 1 1.4-1.4l5.4 5.4-1.4 1.4-5.4-5.4zM3 8a5 5 0 1 0 10 0A5 5 0 1 0 3 8z%22 fill=%22%23a28b72%22/%3E %3C/svg%3E");
}
.light-mode .oo-ui-icon-search, .dark-mode .mw-ui-icon-search::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E %3Ctitle%3E search %3C/title%3E %3Cpath d=%22M12.2 13.6a7 7 0 1 1 1.4-1.4l5.4 5.4-1.4 1.4-5.4-5.4zM3 8a5 5 0 1 0 10 0A5 5 0 1 0 3 8z%22 fill=%22%238f683f%22/%3E %3C/svg%3E");
}
div.oo-ui-decoratedOptionWidget {
	color: initial;
	padding: 0;
}
div.oo-ui-menuSelectWidget {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	margin-top: 6px;
	padding: 3px;
	box-sizing: border-box;
}
.dark-mode div.oo-ui-menuSelectWidget {
	background-color: #1c1b1a;
	color: #a28b72;
	border: 2px solid #a28b72;
}
.light-mode div.oo-ui-menuSelectWidget {
	background-color: #f0e8d1;
	color: #8f683f;
	border: 2px solid #8f683f;
}

#mw-createaccount-cta {
	background: none;
	padding-top: 0;
	margin-top: 21px;
	width: initial;
}
.mw-ui-input {
	border-radius: 25px;
	padding: 6px 12px;
}
.mw-ui-input:focus, .mw-ui-input:focus-visible {
	outline: none;
	box-shadow: none;
}
.dark-mode .mw-ui-input {
	background-color: #1c1b1a;
	color: #a28b72;
	border: 2px solid #a28b72;
}
.light-mode .mw-ui-input {
	background-color: #f0e8d1;
	color: #8f683f;
	border: 2px solid #8f683f;
}
.dark-mode .mw-ui-input::placeholder {
	color: #a28b72;
	opacity: 0.5;
}
.light-mode .mw-ui-input::placeholder {
	color: #8f683f;
	opacity: 0.5;
}
.mw-ui-checkbox [type="checkbox"] + label::before {
	content: initial;
}
.oo-ui-checkboxInputWidget-checkIcon {
	display: none;
}
.mw-ui-checkbox [type="checkbox"], .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type="checkbox"], input[type="radio"] {
	border-radius: 100%;
	appearance: none;
	opacity: 1;
	background: none;
	cursor: pointer;
	position: relative;
}
.mw-ui-checkbox [type="checkbox"], .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type="checkbox"] {
	width: 1.5em;
	height: 1.5em;
}
input[type="radio"] {
	width: 1em;
	height: 1em;
}
.mw-ui-checkbox [type="checkbox"]:checked::before, .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type="checkbox"]:checked:before, input[type="radio"]:checked::before {
	content: "✔";
	position: absolute;
	top: 0;
	left: 0.3em;
}
.mw-ui-checkbox [type="checkbox"]:checked::before, .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type="checkbox"]:checked:before {
	top: 0;
	left: 0.3em;
}
input[type="radio"]:checked::before {
	top: -0.4em;
	left: 0;
}
.dark-mode .mw-ui-checkbox [type="checkbox"], .dark-mode .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type="checkbox"], .dark-mode input[type="radio"] {
	color: #a28b72;
	border: 2px solid #a28b72;
}
.light-mode .mw-ui-checkbox [type="checkbox"], .light-mode .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type="checkbox"], .light-mode input[type="radio"] {
	color: #8f683f;
	border: 2px solid #8f683f;
}
.mw-ui-button.mw-ui-progressive:not(:disabled), .mw-ui-button.mw-ui-progressive:disabled, .mw-ui-button {
	border: none;
	padding: 6px;
	border-radius: 25px;
}
.dark-mode .mw-ui-button, .dark-mode #mw-createaccount-join {
	background-color: #2d2b29;
	color: #a28b72;
}
.dark-mode .mw-ui-button:hover, .dark-mode .mw-ui-button:active, .dark-mode .mw-ui-button:focus,
.dark-mode #mw-createaccount-join:hover, .dark-mode #mw-createaccount-join:active, .dark-mode #mw-createaccount-join:focus {
	background-color: #3c2d1c;
	color: #c3823e;
}
.light-mode .mw-ui-button, .light-mode #mw-createaccount-join {
	background-color: #dfcfba;
	color: #8f683f;
}
.light-mode .mw-ui-button:hover, .light-mode .mw-ui-button:active, .light-mode .mw-ui-button:focus,
.light-mode #mw-createaccount-join:hover, .light-mode #mw-createaccount-join:active, .light-mode #mw-createaccount-join:focus {
	background-color: none;
	color: #c3823e;
}
.dark-mode .mw-ui-button.mw-ui-progressive:not(:disabled) {
	background: none;
	color: #a28b72;
	border: 2px solid #a28b72;
}
.dark-mode .mw-ui-button.mw-ui-progressive:not(:disabled):hover, .dark-mode .mw-ui-button.mw-ui-progressive:not(:disabled):active, .dark-mode .mw-ui-button.mw-ui-progressive:not(:disabled):focus {
	background: none;
	color: #c3823e;
	border: 2px solid #c3823e;
}
.light-mode .mw-ui-button.mw-ui-progressive:not(:disabled) {
	background: none;
	color: #8f683f;
	border: 2px solid #8f683f;
}
.light-mode .mw-ui-button.mw-ui-progressive:not(:disabled):hover, .light-mode .mw-ui-button.mw-ui-progressive:not(:disabled):active, .light-mode .mw-ui-button.mw-ui-progressive:not(:disabled):focus {
	background: none;
	color: #c3823e;
	border: 2px solid #c3823e;
}
.dark-mode .mw-ui-button.mw-ui-progressive:disabled {
	background-color: #1c1b1a;
	color: #2d2b29;
	border: 2px solid #2d2b29;
}
.light-mode .mw-ui-button.mw-ui-progressive:disabled {
	background-color: #f0e8d1;
	color: #dfcfba;
	border: 2px solid #dfcfba;
}
.oo-ui-panelLayout-framed {
	border-radius: 8px;
}
.dark-mode .oo-ui-panelLayout-framed {
	border: 2px solid #a28b72;
}
.light-mode .oo-ui-panelLayout-framed {
	border: 2px solid #8f683f;
}
.dark-mode .oo-ui-icon-collapse, .dark-mode .mw-ui-icon-collapse::before {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%20%3Ctitle%3E%20collapse%20%3C%2Ftitle%3E%20%3Cpath%20d%3D%22m2.5%2015.25%207.5-7.5%207.5%207.5%201.5-1.5-9-9-9%209z%22%20fill%3D%22%23a28b72%22%2F%3E%20%3C%2Fsvg%3E");
}
.dark-mode .oo-ui-icon-expand, .dark-mode .mw-ui-icon-expand::before {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%20%3Ctitle%3E%20expand%20%3C%2Ftitle%3E%20%3Cpath%20d%3D%22m17.5%204.75-7.5%207.5-7.5-7.5L1%206.25l9%209%209-9z%22%20fill%3D%22%23a28b72%22%2F%3E%20%3C%2Fsvg%3E");
}
.light-mode .oo-ui-icon-collapse, .light-mode .mw-ui-icon-collapse::before {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%20%3Ctitle%3E%20collapse%20%3C%2Ftitle%3E%20%3Cpath%20d%3D%22m2.5%2015.25%207.5-7.5%207.5%207.5%201.5-1.5-9-9-9%209z%22%20fill%3D%22%238f683f%22%2F%3E%20%3C%2Fsvg%3E");
}
.light-mode .oo-ui-icon-expand, .light-mode .mw-ui-icon-expand::before {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%20%3Ctitle%3E%20expand%20%3C%2Ftitle%3E%20%3Cpath%20d%3D%22m17.5%204.75-7.5%207.5-7.5-7.5L1%206.25l9%209%209-9z%22%20fill%3D%22%238f683f%22%2F%3E%20%3C%2Fsvg%3E");
}
.mw-message-box-warning, .warningbox {
	border: none;
	color: inherit;
	border-radius: 8px;
}
.dark-mode .mw-message-box-warning, .dark-mode .warningbox {
	background-color: #2d2b29;
}
.light-mode .mw-message-box-warning, .light-mode .warningbox {
	background-color: #dfcfba;
}

.mw-parser-output p {
	margin: 9px 0;
	line-height: 24px;
	text-align: justify;
}
.mw-parser-output p+p {
	text-indent: 18px;
}
.mw-parser-output h1 {
	margin-top: 42px;
	line-height: normal;
}
div.mw-body-content>div.mw-parser-output ul {
	margin: 30px 0 30px 42px;
}
div.mw-body-content>div.mw-parser-output ul ul {
	margin: 0 0 0 30px;
}
.mw-parser-output li {
	margin: 9px 0;
}

textarea {
	appearance: none;
	display: block;
	padding: 12px;
	border-radius: 12px;
	font-family: monospace;
	font-weight: bold;
}
.dark-mode textarea {
	background-color: #2d2b29;
	color: #a28b72;
	border: 2px solid #a28b72;
}
.light-mode textarea {
	background-color: #dfcfba;
	color: #8f683f;
	border: 2px solid #8f683f;
}

.infobox, #toc, .toc {
	margin: 12px;
	padding: 12px;
	box-sizing: border-box;
	border-radius: 22px;
}
.infobox {
	float: right;
	clear: right;
	margin-right: 0;
}
.infobox:first-child {
	margin-top: 0;
}
#toc, .toc {
	display: inline-block;
	margin-left: 0;
}
.dark-mode .infobox, .dark-mode #toc, .dark-mode .toc {
	border: 4px solid #2d2b29;
}
.light-mode .infobox, .light-mode #toc, .light-mode .toc {
	border: 4px solid #dfcfba;
}
#mw-toc-heading {
	margin-top: 0;
	text-align: center;
	margin-bottom: 6px;
}
#toc ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}
#toc>ul {
	margin-left: 0;
}
#toc .tocnumber {
	display: inline-block;
	text-align: right;
	min-width: 1em;
	margin-right: 6px;
}
.dark-mode #toc .tocnumber {
	color: #a28b72;
}
.light-mode #toc .tocnumber {
	color: #8f683f;
}
.infobox-title {
	font-size: 18pt;
	line-height: 20pt;
	text-align: center;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 12px;
}
.infobox-image img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 8px;
	max-width: 550px;
	margin: 0 auto;
}
.infobox table {
	width: 100%;
	margin-top: 12px;
	border-collapse: separate;
	border-spacing: 0;
}
.infobox table p {
	margin: 6px 0;
	text-indent: 0;
	text-align: left;
}
div.mw-body-content > div.mw-parser-output .infobox table ul {
	margin: 6px 0 6px 18px;
}
.infobox table li {
	margin: 6px 0;
}
div.mw-body-content > div.mw-parser-output .infobox table tr>*>*:first-child {
	margin-top: 0;
}
div.mw-body-content > div.mw-parser-output .infobox table tr>*>*:last-child {
	margin-bottom: 0;
}
.infobox table tr>th, .infobox table tr>th>p {
	text-align: right;
	font-style: italic;
}
.infobox table th, .infobox table td {
	padding: 6px 12px;
}
.infobox td, .infobox th {
	border-width: 1px;
	border-style: solid;
}
.infobox tr:first-child>* {
	border-top-width: 2px;
}
.infobox tr:last-child>* {
	border-bottom-width: 2px;
}
.infobox tr>*:first-child {
	border-left-width: 2px;
}
.infobox tr>*:last-child {
	border-right-width: 2px;
}
.infobox tr:first-child>*:first-child {
	border-top-left-radius: 10px;
}
.infobox tr:first-child>*:last-child {
	border-top-right-radius: 10px;
}
.infobox tr:last-child>*:first-child {
	border-bottom-left-radius: 10px;
}
.infobox tr:last-child>*:last-child {
	border-bottom-right-radius: 10px;
}
.dark-mode .infobox td, .dark-mode .infobox th {
	border-color: #2d2b29;
}
.light-mode .infobox td, .light-mode .infobox th {
	border-color: #dfcfba;
}
#contentSub {
	margin-left: 24px;
	margin-bottom: 24px;
	font-style: italic;
}
.mw-redirectedfrom::before {
	content: "⤷";
}

