.menu-desktop ul.menu-user {
	font-size: inherit;
	font-size: 14pt;
	line-height: 16pt;
	margin-top: 18px;
}
.menu-desktop ul.menu-user>li {
	margin: 0 1px 0 0;
}
.menu-desktop ul.menu-user a {
	padding: 6px 12px 4px 12px;
	border-radius: 0;
	white-space: nowrap;
}
.menu-desktop ul.menu-user>li:first-child>a {
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
}
.menu-desktop ul.menu-user>li:last-child>a {
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
}
.menu-mobile-content > ul {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.menu-mobile-content > ul:last-child {
	border-bottom-left-radius: 41px;
	border-bottom-right-radius: 41px;
}

.wiki-nav {
	display: grid;
	gap: 12px;
	grid-template-columns: min-content auto min-content;
	align-items: end;
}
.dark-mode .wiki-nav {
	border-bottom: 2px solid #2d2b29;
}
.light-mode .wiki-nav {
	border-bottom: 2px solid #dfcfba;
}
.wiki-nav .tab-views {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}
.wiki-nav .tab-actions {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
.wiki-nav #p-search {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
@media only screen and (max-width: 845px) {
	.wiki-nav .tab-views {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
	}
	.wiki-nav .tab-actions {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.wiki-nav #p-search {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
	}
}
.wiki-nav ul.page-tabs {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	padding: 0;
	margin: 0;
}
.wiki-nav ul.page-tabs>li {
	margin-left: 6px;
}
.wiki-nav ul.page-tabs.tab-actions>li {
	margin-left: 1px;
}
.wiki-nav ul.page-tabs>li:first-child {
	margin-left: 0;
}
.wiki-nav ul.page-tabs>li>a {
	padding: 6px 12px 8px 12px;
}
.dark-mode .wiki-nav ul.page-tabs>li>a {
	background-color: #2d2b29;
	color: #a28b72;
}
.wiki-nav ul.page-tabs.tab-views>li>a {
	display: block;
	position: relative;
	bottom: -2px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;

}
.wiki-nav ul.page-tabs.tab-actions>li>a {
	display: block;
	border-radius: 0;
	margin-bottom: 5px;
	padding-bottom: 4px;
}
.wiki-nav ul.page-tabs.tab-actions>li:first-child>a {
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
}
.wiki-nav ul.page-tabs.tab-actions>li:last-child>a {
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
}
.dark-mode .wiki-nav ul.page-tabs>li>a:hover, .dark-mode .wiki-nav ul.page-tabs>li>a:active, .dark-mode .wiki-nav ul.page-tabs>li>a:focus {
	background-color: #3c2d1c;
	color: #c3823e;
}
.dark-mode .wiki-nav ul.page-tabs.tab-views>li.selected>a {
	background-color: #1c1b1a;
	color: #a28b72;
	border-left: 2px solid #a28b72;
	border-top: 2px solid #a28b72;
	border-right: 2px solid #a28b72;
}
.dark-mode .wiki-nav ul.page-tabs.tab-views>li.selected>a:hover, .dark-mode .wiki-nav ul.page-tabs>li.selected>a:active, .dark-mode .wiki-nav ul.page-tabs>li.selected>a:focus {
	color: #c3823e;
	border-left: 2px solid #c3823e;
	border-top: 2px solid #c3823e;
	border-right: 2px solid #c3823e;
}
.light-mode .wiki-nav ul.page-tabs>li>a {
	background-color: #dfcfba;
	color: #8f683f;
}
.light-mode .wiki-nav ul.page-tabs>li>a:hover, .light-mode .wiki-nav ul.page-tabs>li>a:active, .light-mode .wiki-nav ul.page-tabs>li>a:focus {
	background-color: #e3c8ac;
	color: #c3823e;
}
.light-mode .wiki-nav ul.page-tabs>li.selected>a {
	background-color: #f0e8d1;
	color: #8f683f;
	border-left: 2px solid #8f683f;
	border-top: 2px solid #8f683f;
	border-right: 2px solid #8f683f;
}
.light-mode .wiki-nav ul.page-tabs>li.selected>a:hover, .light-mode .wiki-nav ul.page-tabs>li.selected>a:active, .light-mode .wiki-nav ul.page-tabs>li.selected>a:focus {
	color: #c3823e;
	border-left: 2px solid #c3823e;
	border-top: 2px solid #c3823e;
	border-right: 2px solid #c3823e;
}

.wiki-search {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 6px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}
.dark-mode .wiki-search {
	background-color: #2d2b29;
}
.light-mode .wiki-search {
	background-color: #dfcfba;
}
@media only screen and (max-width: 600px) {
	.wiki-search {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}
}
.wiki-search #searchInput {
	appearance: none;
	display: block;
	margin-right: 6px;
	border-radius: 18px;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	border: none;
	padding: 0 12px;
	width: 20vw;
}
.wiki-search #searchInput:focus-visible {
	outline: none;
}
.dark-mode .wiki-search #searchInput {
	background-color: #1c1b1a;
}
/*.dark-mode .wiki-search #searchInput:focus-visible {
	border: 2px solid #c3823e;
}*/
.light-mode .wiki-search #searchInput {
	background-color: #f0e8d1;
}
/*.light-mode .wiki-search #searchInput:focus-visible {
	border: 2px solid #c3823e;
}*/
.wiki-search #searchButton {
	appearance: none;
	display: block;
	border-radius: 18px;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 0 12px;
}
.wiki-search #searchButton {
	outline: none;
}
.dark-mode .wiki-search #searchButton {
	border: 2px solid #a28b72;
}
.dark-mode .wiki-search #searchButton:hover, .dark-mode .wiki-search #searchButton:active, .dark-mode .wiki-search #searchButton:focus {
	border: 2px solid #c3823e;
	color: #c3823e;
}
.light-mode .wiki-search #searchButton {
	border: 2px solid #8f683f;
}
.light-mode .wiki-search #searchButton:hover, .light-mode .wiki-search #searchButton:active, .light-mode .wiki-search #searchButton:focus {
	border: 2px solid #c3823e;
	color: #c3823e;
}

