
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TH8FXWV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="body-wrap">
<header>
	<div id="body-background-filigree-top">
		<div class="body-background-filigree" id="body-background-filigree-tl">
			<svg viewBox="0 0 112.5 112.5">
				<use xlink:href="/assets/orn/corners.svg#in-tl"/>
			</svg>
		</div>
		<div class="body-background-filigree" id="body-background-filigree-tr">
			<svg viewBox="0 0 112.5 112.5">
				<use xlink:href="/assets/orn/corners.svg#in-tr"/>
			</svg>
		</div>
	</div>
	<div id="main-logo-outline">
		<svg viewBox="0 0 350.89665 206.64867">
			<a href="https://eithalica.world/" style="color:inherit;outline-color:rgba(0,0,0,0.5);"><use xlink:href="/assets/orn/logo.svg#primary-outline"/></a>
		</svg>
	</div>
	<div id="main-logo">
		<svg viewBox="0 0 337.5 202.5">
			<use xlink:href="/assets/orn/logo.svg#primary"/>
		</svg>
	</div>
</header>
<main>
	<div id="mw-wrapper">
		<!-- -->
		<script>
			function menu_toggle(el) {
				var content = document.querySelector(".menu-mobile-content");
				el.classList.toggle("menu-open");
				content.classList.toggle("menu-open");
			}
		</script>
		<div id="mw-navigation" class="menu">
			<div class="menu-desktop">
				{{#data-portlets}}
				<ul>
					{{#data-custom}}{{{html-items}}}{{/data-custom}}
				</ul>
				<ul class="menu-user">
					{{#data-user-menu}}{{{html-items}}}{{/data-user-menu}}
				</ul>
				{{/data-portlets}}
			</div>
			<div class="menu-mobile">
				<a onclick="menu_toggle(this)">
					<div class="menu-icon">
						<span class="menu-icon-1st"></span>
						<span class="menu-icon-2nd"></span>
						<span class="menu-icon-3rd"></span>
					</div>
					<span class="menu-label">Menu</span>
				</a>
				<div class="menu-mobile-frame">
					<div class="menu-mobile-content">
						{{#data-portlets}}
						<ul>
							{{#data-custom}}{{{html-items}}}{{/data-custom}}
						</ul>
						<ul class="menu-user">
							{{#data-user-menu}}{{{html-items}}}{{/data-user-menu}}
						</ul>
						{{/data-portlets}}
					</div>
				</div>
			</div>
		</div>
		<div class="wiki-nav">
			{{#data-portlets}}
			<ul class="page-tabs tab-views">
				{{#data-views}}{{{html-items}}}{{/data-views}}
			</ul>
			<ul class="page-tabs tab-actions">
				{{#data-actions}}{{{html-items}}}{{/data-actions}}
			</ul>
			{{/data-portlets}}
			{{#data-search-box}}
			<form action="{{form-action}}" role="search" class="mw-portlet" id="p-search">
				<input type="hidden" name="title" value="{{page-title}}">
				<h3>
					<label for="searchInput">{{msg-search}}</label>
				</h3>
				<div class="wiki-search">
					{{{html-input}}}
					{{{html-button-search}}}
				</div>
			</form>
			{{/data-search-box}}
		</div>
		<div class="mw-body" id="content" role="main">
			{{{html-title-heading}}}
			<div class="mw-body-content">
				<div id="contentSub">
					{{{html-subtitle}}}
					{{{html-undelete-link}}}
				</div>
				{{{html-body-content}}}
				<div class="visualClear"></div>
				{{#data-portlets}}
				{{>CategoryPortlet}}
				{{/data-portlets}}
			</div>
			{{{html-after-content}}}
		</div>
	</div>
</main>
<footer>
	<div id="body-background-filigree-bottom">
		<div class="body-background-filigree" id="body-background-filigree-bl">
			<svg viewBox="0 0 112.5 112.5">
				<use xlink:href="/assets/orn/corners.svg#in-bl"/>
			</svg>
		</div>
		<div class="body-background-filigree" id="body-background-filigree-br">
			<svg viewBox="0 0 112.5 112.5">
				<use xlink:href="/assets/orn/corners.svg#in-br"/>
			</svg>
		</div>
	</div>
	{{#data-footer}}
		{{#data-places}}
			{{#array-items}}
				{{{html}}}
			{{/array-items}}
		{{/data-places}}
	{{/data-footer}}
</footer>
</div>
